body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f8f4ff; /* color fondo claro lavanda */
}

.login-wrapper {
  display: flex;
  height: 100vh;
  width: 100%;
}

.login-image-side {
  flex: 1;
  background-image: url('src/assets/image.webp');
  background-size: cover;
  background-position: center;
  position: relative;
  /* se eliminaron los filtros */
}

.login-container {
  flex: 1;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px;
  box-shadow: -4px 0 20px rgba(0, 0, 0, 0.05);
}

h1 {
  font-size: 32px;
  color: #9b5de5; /* púrpura principal */
  margin-bottom: 20px;
  text-align: left;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-field {
  border: 1px solid #e0c9f0;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.2s, box-shadow 0.2s;
  background-color: #f9f5ff;
}

.input-field:focus {
  border-color: #9b5de5;
  box-shadow: 0 0 5px rgba(155, 93, 229, 0.3);
}

.login-button {
  background-color: #9b5de5;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.login-button:hover {
  background-color: #7b39c8;
}

.signup {
  margin-top: 20px;
  font-size: 14px;
  color: #6e44ff;
}

.toggle-button {
  background: none;
  color: #9b5de5;
  border: none;
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
  margin-left: 5px;
}

.toggle-button:hover {
  color: #7b39c8;
}
